/* html, body {height: 100%;} */
html, body, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  width: 100%; overflow-x: hidden;
}

/**
* GENERAL
* ------------------------------------------- */
.wrapper {
  width: 970px;
  margin: 0 auto;
  }
  @media (max-width: 768px) { /* 988 */
    .wrapper {
      width: 100%;
    }
  }
.layout {
  height: 100%; min-height: 100vh;
  background: #FFF;
  display: flex;
  flex-direction: column; justify-content: space-between;
}

.sr-only {display: none;}

/**
* HEADER
* ------------------------------------------- */
.layout > header {
  margin-bottom: 60px;
  border-bottom: 1px solid #DDD;
  }
  .layout > header .wrapper {
    display: flex; justify-content: space-between;
    align-content: center; align-items: center;
    padding-top: 20px; padding-bottom: 25px;
  }
  /** Logo */
  .layout > header .logo {
    width: 120px; height: 54px;
    }
    .layout > header .logo:hover {filter: contrast(4)}
      .layout > header .logo img {
        display: block; max-width: 100%; height: auto;
      }
  @media (max-width: 768px) {
    .layout > header {
      margin-bottom: 40px; padding-left: 10px; padding-right: 10px;
    }
  }
  /** Search */
  .search-wrap {
    position: relative; z-index: 1;
    width: 405px; height: 45px;
    background-color: #F3F3F3;
    border-radius: 4px;
    overflow: visible;
    }
    .search-wrap .container {
      display: flex; justify-content: space-between;
      }
      .search-wrap .container input {
        flex-grow: 1;
        padding: 0 15px;
        font-size: 13px; line-height: 45px;
        border: none; background: transparent;
        outline: none;
      }
      .search-wrap .container .search-btn {
        padding: 0 15px;
        line-height: 45px;
        background: transparent;
        border: none;
        outline: none;
        }
    /** search results */
    .search-wrap .results {
      position: absolute; top: 45px; left: 0;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      .search-wrap .results .headline {
        padding: 5px 10px;
        font-size: 13px; color: rgba(30,38,51,0.3);
        background: #FAFAFA;
      }
      .search-wrap .results .item {
        display: flex; align-items: center; justify-content: space-between;
        padding: 10px 20px;
        border-top: 2px solid #FAFAFA;
        cursor: pointer;
        box-sizing: border-box;
        }
        .search-wrap .results .item figure {
          width: 54px; height: 54px;
          margin: 0 20px 0 5px; padding: 0;
          background-size: cover; background-position: center center;
          background-repeat: no-repeat;
          overflow: hidden;
        }
        .search-wrap .results .item .content {display: flex; align-content: center;}
        .search-wrap .results .item .info {margin-right: 15px;}
        .search-wrap .results .item h2 {
          margin: 0; font-size: 15px;
        }
        .search-wrap .results .item h4 {
          margin: 2px 0; font-size: 13px; font-weight: normal; color: gray;
        }
        .search-wrap .results .item p {
          margin: 0; font-size: 11px; color: #C8C7C7;
        }
        .search-wrap .results .item h3 {
          margin: 10px 5px; padding: 0;
          color: #1E2633; font-size: 16px;
          }
          .search-wrap .results .item.location i {margin: 0 15px;}
  .modal-placeholder {
    position: fixed; top: 0; left: 0; bottom: 0; right: 0; overflow: auto;
    padding: 20px;
    background: #FFF;
    box-sizing: border-box;
    }
    .modal-placeholder .menu {
      display: flex; justify-content: space-between; align-content: center;
      list-style: none;
      margin: 0 0 20px; padding: 0;
      }
      .modal-placeholder .menu .close-btn {
        padding: 10px;
        font-size: 20px; color: #424242;
        background: none; border: none;
      }
    /* .modal-placeholder .logo {display: inline-block; margin-bottom: 20px;} */
    .modal-placeholder .search-wrap {width: 100%;}
      .modal-placeholder .search-wrap .results {
        width: 100%;
        box-shadow: none;
      }
  /** Menu */
  .layout > header .menu {
    list-style: none;
    margin: 0; padding: 0;
    }
    .layout > header .menu li {
      float: left;
      margin: 0; padding: 0;
      color: #DDD;
      }
      .layout>header .menu li:hover {
        color: #afafaf;
        }
        .layout > header .menu li a {
          display: block;
          margin: 0 5px; padding: 10px;
          }
        


/**
* FOOTER
* ------------------------------------------- */
.layout > footer {
  padding: 20px 0;
  text-align: center;
  background: #F3F3F3;
  }
  .layout > footer p {
    margin-top: 0; margin-bottom: 0;
    color: #67787C; font-size: 16px;
  }

/**
* PLAYER
* ------------------------------------------- */
.layout > .player {
  position: fixed; z-index: 99; bottom: 0; left: 0; right: 0;
  display: flex; align-items: center; align-content: center;
  justify-content: space-between;
  margin: 0; padding: 0 15px;
  text-align: center; color: #FFF;
  background: #212B3A;
  }
  .layout > .player .flex-wrap {
    display: flex; align-items: inherit;
    overflow: hidden;
  }
  /* logo figure */
  .layout > .player .logo-figure {
    margin: 0 15px 0 0; padding: 0;
    background: #FFF;
    border-radius: 3px;
  }
    .layout > .player .logo-figure img {
      position: relative; z-index: 2; top: 50%;
      display: inline-block; max-width: 100%; height: auto;
      transform: translateY(-50%);
    }
  /* station info */
  .layout > .player .station-info {overflow: hidden;}
    .layout > .player .station-info > * {
      display: block;
      margin: 0; padding: 0;
      text-align: left; color: #FFF;
      font-size: 16px; line-height: 19px;
      white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      }
      .layout > .player .station-info p {
        margin: 0;
        font-size: 13px; line-height: 15px;
        opacity: 0.6;
      }
  /* tags wrap */
  .layout > .player .tags-wrap {
    margin: 20px 0; padding: 0;
    list-style: none;
    }
    .layout > .player .tags-wrap li {
      display: inline-block; margin: 5px 2.5px;
      }
      .layout > .player .tags-wrap li a {
        display: block;
        padding: 5px 10px;
        font-size: 13px; line-height: 15px; color: #ffffff99;; text-decoration: none;
        border: 1px solid #4A4A4A;
        border-radius: 12px;
        }
        .layout > .player .tags-wrap li a:hover {
          border-color: #FFF;
        }
  /* controls wrap (main) */
  .layout > .player .controls-wrap {
    display: flex; align-items: center; flex-direction: row-reverse;
    white-space: nowrap;
  }
    
    .layout > .player .controls-wrap .ctrl {
      display: inline-block;
      margin: 5px 10px; padding: 10px;
      color: rgba(255, 255, 255, 0.3); font-size: 15px;
      background: transparent;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      }
      .layout > .player .controls-wrap .ctrl.border {
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
      .layout > .player .controls-wrap .ctrl:hover {color: #FFF}
    .layout > .player .controls-wrap.volume {
      width: 350px;
      margin: 0 0 20px; padding: 0;
    }
  .layout > .player .collapse-btn {
    margin: 10px 0; padding: 0 15px;
    color: rgba(255,255,255,0.3); font-size: 20px;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
  }
.layout > .player.expanded,
.layout > .player.expanded .flex-wrap {
  flex-direction: column;
  }
  .layout > .player.expanded .logo-figure {
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  .layout > .player.expanded .station-info > * {
    margin-bottom: 5px;
    text-align: center;
  }
  .layout > .player.expanded .controls-wrap {
    flex-direction: row;
    }
    .layout > .player.expanded .controls-wrap .play-button {
      margin-left: 20px; margin-right: 20px;
    }

/**
* PLAY BUTTON
* ------------------------------------------- */
.play-button {
  display: inline-block;
  margin: 6px;
  color: white;
  background: linear-gradient(180deg, #20B3FF 0%, #238EFF 100%);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px rgba(35, 142, 255, 0.4);
  outline: none;
  cursor: pointer;
  }
  .play-button.md {
    width: 58px; height: 58px;
    font-size: 24px;
  }
  .play-button.lg {width: 68px; height: 68px; font-size: 28px;}
  .play-button.sm {width: 32px; height: 32px; font-size: 10px;}
  .play-button:disabled {opacity: 0.2; cursor: not-allowed;}

  @media (max-width: 768px) {
    .play-button.md, .play-button.lg {
      width: 50px; height: 50px;
      font-size: 20px;
    }
  }


/**
* INPUT RANGE
* ------------------------------------------- */
  .input-range__slider {
    appearance: none;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem; }
    .input-range__slider:active {
      transform: scale(1.3); }
    .input-range__slider:focus {
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2); }
    .input-range--disabled .input-range__slider {
      background: #cccccc;
      border: 1px solid #cccccc;
      box-shadow: none;
      transform: none; }
  
  .input-range__slider-container {
    transition: left 0.3s ease-out; }
  
  .input-range__track {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out; }
    .input-range--disabled .input-range__track {
      background: rgba(255, 255, 255, 0.25); }
  
  .input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%; }
  
  .input-range__track--active {
    background: #fff; }
  
  .input-range {
    height: 1rem;
    position: relative;
    width: 100%; }

/**
* NPROGRESS
* ------------------------------------------- */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #238EFF;

  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #238EFF, 0 0 5px #238EFF;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #238EFF;
  border-left-color: #238EFF;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}